$dark-grey: rgb(59, 57, 55);
// $mid-grey: #666666;
$brown:#8C5638;
$yellow:rgb(240, 181, 55);
// $green: #206a35;
// $dark-blue: #193041;
// $light-blue: #3875ca;


.v-carousel__controls {
  margin-bottom: 50px !important;
}

